.projects-background {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100vh;
  color: black;
  /* user-select: none; */
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: start;
  font-family: Roboto, sans-serif;
  /* background: green; */
  /* overflow: visible; */
}

.projects {
  margin-top: 100px;
  position: relative;
  border-radius: 5px;
  align-content: center;
  justify-items: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  background: white;
  transition-duration: 300ms;
  padding: 30px;
  width: 60%;
}

.project {
  margin-bottom: 30px;
  position: relative;
  width: 80%;
  left: 10%;
}

.project > h1 {
  /* width: 70%; */
  text-align: center;
  margin-bottom: 10px;
  /* font-size: 1.5em; */
}

.project > img {
  position: relative;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.project > p {
  font-size: 1.5em;
}

@media only screen and (max-width: 700px) {
  .projects {
    margin: 0;
    width: auto;
    padding: 5px;
    /* margin-bottom: 20vh; */
    font-size: 0.8em;
    margin-top: 10vh;
  }

  .project {
    /* background: red; */
    position: relative;
    width: 95%;
    left: 2.5%;
  }

  .project > h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  .project > img {
    /* width: 95%;
    left: 2.5%; */
    width: 100%;
    left: 0;
  }

  .project > p {
    /* position: relative;
    width: 95%;
    left: 2.5%; */
  }
}

@media only screen and (max-height: 800px) {
  .projects {
    margin-bottom: 20vh;
  }
}
