.project {
  margin: 0 10px;
  margin-bottom: 7vh;
  position: relative;
  width: calc(50% - 20px);
}

.project:last-child {
  margin-bottom: 5vh;
}

.project > h1 {
  margin-bottom: 10px;
}

.project > img {
  position: relative;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 30px;
}

.project > p {
  font-size: 1.3em;
  padding: 0 10px;
}

@media only screen and (max-width: 1000px) {
  .projects {
    margin: 0;
    width: auto;
    padding: 5px;
    padding-top: 15px;
    font-size: 0.8em;
    margin-top: 100px;
    flex-direction: column;
  }

  .project {
    position: relative;
    width: 95%;
    margin-bottom: 10vh;
  }

  .project > h1 {
    margin-bottom: 10px;
  }

  .project > img {
    margin-bottom: 10px;
    width: 100%;
    left: 0;
  }
}
