@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes rotate3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
