.about-background {
  position: relative;
  width: 100%;
  top: 100vh;
  background: #222;
  color: white;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
}

.about {
  padding: 200px 0;
  /* width: 60%; */
  max-width: 1000px;
  align-content: center;
  justify-items: center;
  align-items: center;
  /* background: blueviolet; */
  display: grid;
  grid-template-areas:
    '. profile profile-text .'
    '. tools-text tools .';
}

.profile {
  display: inline-block;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  grid-area: profile;
  border: solid 6px lightgreen;
  border-radius: 1000px;
  /* background: red; */
}

.profile-text {
  grid-area: profile-text;
}

.tools {
  grid-area: tools;
  width: 80%;
  max-width: 300px;
  border: solid 6px lightgreen;
  border-radius: 1000px;
}

.tools-text {
  grid-area: tools-text;
}

.about * {
  padding: 10px;
}
