.about-background {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100vh;
  color: black;
  user-select: none;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
}

.about {
  position: relative;
  border-radius: 5px;
  margin: 100px 0;
  padding: 40px;
  max-width: 1000px;
  align-content: center;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-areas:
    'line profile profile-text .'
    '. tools-text tools line2';
  background: white; /* border: solid white 4px; */
  /* outline: solid black 2px; */
  outline-offset: -20px;
  transition-duration: 300ms;
}

.profile,
.tools {
  width: 30vw;
  min-width: 300px;
  max-width: 400px;
  grid-area: profile;
}

.profile {
  width: 25vw;
  min-width: 300px;
  max-width: 350px;
  /* border: 2px solid rgb(243, 224, 52); */
  border-radius: 1000px;
}

.tools {
  grid-area: tools;
}

.profile-text,
.tools-text {
  grid-area: profile-text;
  align-self: center;
  padding: 25px;
  /* border-top: solid black 2px;
  border-right: solid black 2px; */
}

.tools-text {
  grid-area: tools-text;
  justify-self: end;
  border: none;
  /* border-left: solid black 2px;
  border-bottom: solid black 2px; */
}

@media only screen and (max-width: 700px) {
  .about {
    grid-template-areas:
      '. profile .'
      '. profile-text .'
      '. tools .'
      '. tools-text .';
    padding: 10px 0;
    outline: none;
    font-size: 0.8em;
    margin-bottom: 0;
    z-index: 2;
  }

  .profile {
    width: 200px;
    /* padding-top: -0px; */
  }

  .line {
    display: none;
  }
  .about * {
    justify-content: center;
    justify-self: center;
    align-content: center;
    /* margin: 20px 0; */
  }
}
@media only screen and (max-height: 800px) {
  .about-background {
    overflow: auto;
  }
}
