* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

/* body {
  /* overflow: hidden; 
} */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

#p5 {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: rgb(17, 17, 17);
}

.background {
  background: rgb(17, 17, 17);
  background: black;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto;
}

.center-container {
  /* width: 600px; */
  height: 400px;
  justify-self: center;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
}

.intro {
  grid-area: intro;
  justify-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  /* color: black; */
  font-family: Roboto;
}

.intro-row1 {
  display: flex;
  align-items: center;
}

.colors {
  height: 350px;
  width: 240px;
}

svg path {
  transition-duration: 1000ms;
}
svg path:hover {
  transition-duration: 100ms;
  /* fill: white; */
  opacity: 0.6;
}

.intro h1 {
  font-size: 90px;
  font-weight: 300;
  line-height: 90px;
}

.intro h2 {
  font-size: 35px;
  font-weight: 300;
  margin-left: 5px;
  margin-top: 20px;
}

.titles {
  text-align: left;
}

.name {
  font-size: 4em;
}

.main-buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
}

.main-button {
  width: 120px;
  height: 60px;
  background: linear-gradient(transparent);
  border-radius: 5px;
  border: 2px solid white;
  /* border: 2px solid black; */
  text-align: center;
  line-height: 60px;
  font-family: Roboto;
  font-weight: bold;
  color: white;
  /* color: black; */
  transition-duration: 300ms;
  user-select: none;
  cursor: pointer;
  /* padding-top: 10px; */
}

.main-button:hover {
  /* background: white;
  color: black; */
}

@media only screen and (max-width: 700px) {
  /* .name {
    font-size: 3em;
  }
  .title {
    font-size: 1.3em;
  } */

  .boxes {
    display: none;
  }
  .main-buttons {
    width: 350px;
    margin-top: 60px;
  }
  .main-button {
    width: 100px;
    height: 50px;
    line-height: 50px;
  }

  .intro-row1 svg {
    position: absolute;
    z-index: -1;
    /* top: calc(50% - 175px); */
    /* top: 50px; */
    top: -30px;
    left: calc(50% - 120px);
    opacity: 0.9;
  }

  .center-container {
    position: absolute;
    /* background: red; */
    top: calc(40% - 150px);
    margin-top: 0;
    height: 300px;
    /* display: inline-block; */
    /* background: red; */
  }

  .center-container h1 {
    font-size: 70px;
    line-height: 70px;
  }
  .center-container h2 {
    font-size: 20px;
  }
}
